# Pandas Intro

### Load basic libraries

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import re
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('max_columns', 15)
pd.set_option('chained_assignment', None)

### Pandas Creation

In [2]:
# Create a pandas Series with some random numbers and index it with roman numbers up to 5:
indices = ['I', 'II', 'III', 'IV', 'V']
s =

In [3]:
# Create a date range with eight dates
dates = 

print(f"date type: {type(dates)}")
dates

In [4]:
# This fixes the random generator and allows us to obtain always the same results
np.random.seed(42)

# Combine the Series and the dates creation to create a pandas dataframe 
# with data for 8 days using the previous indices as columns
df =

Load a dictionary into pandas:

In [5]:
data = {'Country':['United Kingdom', 'Spain', 'France', 'USA', 'Australia', 'Bangladesh', 'Belgium'],
        'Capital': ['London', 'Madrid', 'Paris', 'washington', 'Canberra', 'Dhaka', 'Brussels'],
        'Random': [3, 1, 4, 2, 8, 5, 6]}
df_countries =

In [6]:
# Check columns types:

Selecting rows and columns:

In [7]:
# Selecting 'country' column
col = 
print(col)
print(f"\nColumn type: {type(col)}")

In [8]:
# Select the column using dot notation

In [9]:
# Select the column as a new dataframe
df_col = 

print(f"\nColumn type: {type(df_col)}")
df_col

In [10]:
# Update the first value of the pandas column using dot notation


# Verify the change

In [11]:
# Check what happens with the original dataframe

In [12]:
# Transpose the dataframe
transposed = 
transposed

In [13]:
# Get all the data as numpy

Notes:

- The output doesn't know anything about index or column information
- The behaviour changes if the columns are from the same type vs. if they contain different types:
    - With the same time it is very fast as it is not a copy.
    - With different types it gets very expensive as it copies everything into a new object.

### Summary Info

In [14]:
# Get examples of the first 3 rows

In [15]:
# Get examples of the last 2 rows

In [16]:
# List the indices of the DataFrame
print(f"Indices: {}")

# What are the indices of the previously transposed DataFrame?
print(f"Transposed index: {}")

In [17]:
# List the columns of the DataFrame
print(f"Indices: {}")

# What are the columns of the previously transposed DataFrame?
print(f"Transposed index: {}")

In [18]:
# Get statistics of numerical columns

### More in Selection

We have seen  `df_countries.Country`  and `df_countries['Country']`  as possible ways to select a column.

What if we want to select specific rows?

In [19]:
# Select second and forth row by indices:

In [20]:
# Select again second and forth row but specifying the column names 'Country' and 'Capital':

In [21]:
# If you specify a single column, you get a series instead

### Boolean indexing

In [22]:
# Select the data where 'Random' > 3

In [23]:
# Select the rows where Capital is in the list ['Paris', 'Madrid']
my_list = ['Paris', 'Madrid']

### Sorting:

In [24]:
# Sort the columns in descending order:

In [25]:
# Sort by values of the 'Random' column

### Modifying the data

In [26]:
# Create a new column called 'Continent' and fill it with 'Unknown'


# Given the following list, modify the values of 'Continent' for those countries to 'Europe'
isEurope = ['Belgium', 'France', 'Spain', 'United Kingdom']

In [38]:
df_countries['Country'].isin(isEurope).replace({True: "Europe"})

0    Unknown
1     Europe
2     Europe
3    Unknown
4    Unknown
5    Unknown
6     Europe
Name: Country, dtype: object

In [ ]:
# Modify value of 'United Kindom' to 'UK' by position

In [ ]:
# Clean up missing values from the dataframe:

Note that this creates a copy except when inplace is specified

In [ ]:
# Fill missing data in Continent with 'World'. As before filling data creates a new DataFrame by default.

In [ ]:
# Create a mask (filter) of the values that are NA:

### Stats

In [ ]:
# Calculate the mean of the first column (df dataset):
print(f"First column mean: {}")

# Calculate the mean of all columns:
print(f"\nMean (all columns): \n{}")

# Calculate the mean of all rows:
print(f"\nMean (all rows): \n{}")

In [ ]:
# Max and min of 'Random' in df_countries
print(f"Max value in random: {}")
print(f"min value in random: {}")

In [ ]:
# Use apply to obtain the difference between the max and and min by column

In [ ]:
# Create a matrix 8x8 with random integers from 0 to 9
m = 
print(f"Matrix: \n{m}")

In [ ]:
# Count of each value across the 4th column

In [ ]:
# Perform the count of values for all rows